@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Light'), url('./fontStyles/MyriadPro-Light.woff') format('woff');
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


:root{
  background-image: url("../media/picture2.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: "Myriad Pro Light";
  font-size: 85%;

}

html, body {
  overflow: hidden;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #9cdada;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

a:hover{
text-decoration: none;
text-shadow: 0 0rem 0.8rem #007c7c;
} 

.s-header {
  width: 100%;
  height: 200px;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 500;
  text-align: center;
}

.header-nav-wrap {
  display: inline-block;
  font-family: "Myriad Pro Light";
  position: absolute;
  text-align: center;
  top: 13%;
  right: 20.5%;
  padding: 30px;
}

.header-nav {
  display: block;
  list-style: none;
  margin: 0;
  height: 72px;
}

#heading{
  display: inline-block;
  color: #9cdada;
  font-size: 4.75rem;
  letter-spacing: 0.125em;
  text-shadow: 0 0rem 1.8rem #009c9c;
}

.back-btn{
  display: inline-block;
  position: absolute;
  text-decoration: none;
  text-align: center;
  padding: 0.25rem;    
  border: 0.25rem solid #2c716e;
  border-radius: 2.5rem;
  width: 7rem;
  top: 45%;
  left: 5%;
  background: transparent;
  font-size: 3.5rem;
  color: rgb(164, 211, 207); 
  -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out;
}

input[value="read more"]{ display:none; }

.back-btn:hover {
  cursor: pointer;
  box-shadow: 0 0rem 1.35rem #00bbb2;
  transform: scale(1.08);
  transition: 0.35s ease-in;
  background-color: transparent;
  color: #99ffff;
  border: 0.26rem solid #10dfdf;
  text-shadow: 0 0rem 1rem #007c7c;
}

.character-container{
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

.btn-group-toggle{
  position: absolute;
  top: 2%;
  height: 75vh;
  width: 100vw;
  display: inline-block;
  text-align: center;

}

.btn {
  margin-top: 0px;
  margin-bottom: 120px; 
  width: 32%;
  height: 675px;
  color: #10dfdf;
  background-color: transparent;
  display: inline-block;
  border: 0.25rem solid #2c716e;
  border-radius: 25px;
  -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0rem 1.8rem #00bd9d;
  transform: scale(1.08);
  transition: 0.5s ease-in;
  background-color: rgb(87, 136, 50);
  color: #9cdada;
  border: 0.20rem solid #10dfdf;
  text-shadow: 0 0rem 0.8rem #015f5f;
  
}

.btn img {
  align-content: center;
  top: 85px;
  padding-top: 53px;
  width: 70%;
  height: 450px;
  object-fit: fill;
  -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
}

.btn > #single-solid:hover #family-solid {
  transition: 0.4s ease-in-out;
}

.btn #label-text {
  top: 15%;
  font-size: 1.75rem;
  padding: 4rem;
  padding-bottom: 2rem;
}

.divider{
  width: 6%;
  height:auto;
  display:inline-block;
}


@media (max-width: 1366px) {

  
.back-btn{
  padding: 0.15rem;    
  border: 0.25rem solid #2c716e;
  border-radius: 2.5rem;
  width: 6rem;
  top: 38%;
  left: 5%;
  background: transparent;
  font-size: 2.5rem;
  color: rgb(164, 211, 207); 
  -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out;
}

.back-btn:hover {
  cursor: pointer;
  box-shadow: 0 0rem 1.35rem #00bbb2;
  transform: scale(1.08);
  transition: 0.35s ease-in;
  background-color: transparent;
  color: #99ffff;
  border: 0.26rem solid #10dfdf;
  text-shadow: 0 0rem 1rem #007c7c;
}


  .header-nav-wrap {
    display: inline-block;
    font-family: "Myriad Pro Light";
    position: absolute;
    text-align: center;
    top: 9%;
    right: 22%;
    padding: 30px;
  }

  .btn-group-toggle{
    position: absolute;
    top: 5%;
    height: 75vh;
    width: 100vw;
    display: inline-block;
    text-align: center;
  }

  #heading{
    display: inline-block;
    color: #9cdada;
    font-size: 3.5rem;
    letter-spacing: 0.125em;
  }

  .btn{
    font-size: 1.55rem;
    padding: 0.70rem 0;
    width: 31%;
    height: 425px;
    border: 0.15rem solid #2c716e;
  }

  .btn img {
    align-content: center;
    top: 80px;
    padding-top: 50px;
    width: 62%;
    height: 300px;
    object-fit: fill;
    -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;
  }

  .btn #label-text {
    top: 10%;
    font-size: 1.15rem;
    padding: 3rem;
  }

  .btn:hover{
    border: 0.20rem solid #10dfdf;
    font-size: 1.60rem;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.4s ease-in-out;
    border: 0.25rem solid #10dfdf;
  }


}

@media (max-width: 768px) {

  .container {
    top: 40%;
  }

  .btn-group-toggle {
    top: 8%;
    margin-left: .10%;
    margin-right: .5%;
  }

  .btn {
   padding: 0.25rem;
   width: 45%;
   height: 320px;
   text-align: center;
   border: 0.15rem solid #649d38;
   border-radius: 25px;
   margin-bottom: -4rem;
   border-color: #2c716e;
  }

  .divider{
    width: 1%;
    height:auto;
    display:inline-block;
  }

  .btn #label-text {
    padding-top: 10%;
    font-size: 1rem;
  }

  .btn img {
    padding-top: 20%;
    width: 75%;
    height: 150px;
    object-fit: fill;
  }

  .btn:hover {
    border: 0.17rem solid #10dfdf;
    font-size: 1.05rem;
    text-shadow: 0 0rem 1.5rem #007c7c;
  }

  .header-nav-wrap {
    top: 2rem;
    right: 0rem;
    padding: 30px;
  }

  #heading{
    color: #9cdada;
    font-size: 2.5rem;
    letter-spacing: 0.125em;
  }

  .back-btn {
    padding: 0rem;    
    border: 0.15rem solid #2c716e;
    border-radius: 2.5rem;
    width: 8rem;
    top: 75%;
    left: 35%;
    background: transparent;
    font-size: 2.5rem;
    color: rgb(164, 211, 207); 
    -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out;
   }
  
   .back-btn:hover {
    cursor: pointer;
    box-shadow: 0 0rem 1.35rem #00bbb2;
    transform: scale(1.08);
    transition: 0.35s ease-in;
    background-color: transparent;
    color: #99ffff;
    border: 0.19rem solid #10dfdf;
    text-shadow: 0 0rem 1rem #007c7c;
   }
}